* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.game {
  margin: 20px;
  display: flex;
}

.game-info{
  margin: 10px;
}

.game-info li{
  margin: 10px;
}

.game-info li button {
  border: 1px solid black;
  border-radius: 6px;
  background-color: #fff;
  padding: 3px;
}

.square {
  background: #fff;
  height: 100px;
  width: 100px;
  border: 1px solid #999;
  float: left;
  font-size: 72px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status{
  font-size: 32px;
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
}